@charset "UTF-8";
*{
    margin: 0; padding: 0; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
   background-image: url('../imagens/fundo-simpsons.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    color: rgb(121, 146, 77);
    height: calc(100vh - 15px);
    background-color: rgba(0, 0, 0, 0.747);
    display: flex;
    align-items: center;
    justify-content: center;
}
main section.game{
    text-align: center;
}
section.game h1{
    margin: 10px;
    color: white;
    text-shadow: 0px 0px 3px rgb(0, 255, 0);
    animation: h1 1s infinite forwards;
}
footer{
    background-color: black;
    color: white;
    font-size: 13px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}


 /* Botão play */
 #btnPlay{
    background: rgb(203, 224, 11);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    box-shadow:
      0 0 15px rgba(255, 255, 255, 0.2),
      inset 0 0 10px rgb(231, 255, 13);
 
    animation: botao 1s infinite forwards; 
    margin: 20px;
  }
button span{
    color: white;
    font-size: 2em;
}
@keyframes botao{
  0% {
    transform: scale(1);
    box-shadow:
      0 0 10px rgb(231, 255, 13),
      0 0 60px rgb(231, 255, 13),
      inset 0 0 10px rgb(231, 255, 13);;
  }
  100% {
    transform: scale(0.85);
    box-shadow: none;
  }
}
@keyframes h1{
    0% {
      text-shadow: 0px 1px 4px rgb(203, 224, 11);
    }
    50%{
        text-shadow: 1px 0px 1px rgb(231, 255, 13);
    }
    100% {
      text-shadow: 0px 0px 5px rgb(231, 255, 13);
    }
  }

  
/* responsividade descartada
 @media (min-width: 200px) {
    #btnPlay {
        display: block;
        margin: auto;
    }
    main p {
        display: none;
    }
  } */


/*configuração das cartas*/
.card {
  width: 100px;
  height: 150px;
  display: inline-block;
  border: 1px solid black;
  background-image: url('../imagens/card2.png');
  margin: 5px;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.267);

}
.card.virada {
  animation: virar 0.6s ease-in forwards;
}
.card.voltar {
  animation: voltar 0.6s ease-in forwards;
}

@keyframes virar {
 0% {
   transform: rotateY(0deg);
 }
 100% {
   transform: rotateY(180deg);
 }
}
@keyframes voltar {
 0% {
   transform: rotateY(180deg);
 }
 100% {
   transform: rotateY(0deg);
 }
}

div#finalizado{
    position: absolute;
    background-color: white;
    width: 200px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 10px; 
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.192);
    display: flex;
}
div p {
    color: black;
    position: absolute;
    text-align: center;
}
/* div#finalizado > div#fechar{
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 32px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #fff;
} */
